[Unit]
Description=PostgreSQL Health Check Service
After=pgpool.service
Requires=pgpool.service

[Service]
TimeoutStartSec=0
Type=simple
ExecStart=/usr/local/bin/pgdoctor
Restart=on-failure
RestartSec=5
User=pgpool
Group=pgpool

[Install]
WantedBy=multi-user.target
